
{% extends "nlayout.html" %}

{% block body %}

{% include 'messages.html' %}


<div class="container">
  <table class="table table-sm table-condensed table-striped table-hover">
    <thead>
      <th>Sno</th>
      <th>name</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% if categories %}
      {% for category in categories %}
      
      <tr>
        <td>{{loop.index}}</td>
        <td>{{category.name}}</td>
        <td><a href="{{url_for('updatecat',id=category.id)}}" class="btn btn-outline-info">Edit</a></td>
        <td>
          <form action="{{url_for('deletecategory',id=category.id)}}" method="POST" value="{{category.name}}">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form> 
          </td>
        
      </tr>

      {% endfor%}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}