
{% extends "layout.html" %}
{% block body %}

<div class="login">
    <div class="form">
    
        <img id="img1" src="{{ url_for('static',filename='img/lock.jpg') }}" alt="">
       
        {{form.csrf_token}}
        {% from "_formhelpers.html" import render_field %}
        {% include "messages.html" %}
        <form method=post >
            {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        {{ render_field(form.email, class="form-control",placeholder="Enter your email",style="width:100%") }}
        {{ render_field(form.password, class="form-control",placeholder="Password",style="width:100%") }} 
        <button>login</button>
        

  </script>
        <a href="/register" style="color: red;">Don't have an Account?</a></a> <a style="color: red;" href="/register">Sign up</a>

      </form>  
    </div>
  </div>

  
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
/* .alert{background: red;padding:20px;margin:20px 0;line-height:22px;color:#333, } */

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}
.site-footer{
       display: none;
     }

.form {
  position: relative;
  z-index: 1;
  background: powderblue;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #182848;

  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #4b6cb7;
}
#img1{
    border-radius: 50px;
    width: 50%;
    margin-bottom: 50px;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .form {
  width: 320px;
  max-width: 360px;
  
}
a{
  font-size: 13px;
}
}
@media only screen and (min-width: 200px) and (max-width: 350px) {
    .form {
  width: 270px;
  
}
.login{
  width: 280px;
}
a{
  font-size: 10px;
}
}
  </style>



{% endblock %}