
{% extends "layout.html" %}

{% block body %}
<div class="container">

  <table width="100%">
    <tr>
      <td></td>
    </tr>
  </table> 
  <br><h3  style="text-align: left;">Your contact details</h3><br>
  <table id="table1" style="border-collapse: collapse;">
    <tr>
      <td width="180px" class="column-title">Email<td>
      <td class="column-detail">&nbsp;&nbsp;{{current_user.email}}<td>
    </tr>
    <tr>
      <td class="column-title"> First & Last name<td>
      <td class="column-detail">&nbsp;&nbsp;{{current_user.name}}<td>
    </tr>
    <tr>
      <td class="column-title">Address<td>
      <td class="column-detail">&nbsp;&nbsp;{{current_user.address}}<td>
    </td>
    <tr>
      <td class="column-title">Phone<td>
      <td class="column-detail">&nbsp;&nbsp;{{current_user.contact}}<td>
    </tr>
  </table>

</table> 
<br><h3 style="text-align: left; color: blue;">Your product details</h3><br>
{% for key,product in orders.orders.items() %}
{% set discount="%0.2f" |format((product.discount/100) * product.price|float) %} 
<table id="table1" style="border-collapse: collapse;">
  
  <tr>
    <td width="180px" class="column-title">Product NO<td>
    <td class="column-detail">&nbsp;&nbsp;{{loop.index}}<td>
  </tr>
  <tr>
    <td width="180px" class="column-title">Product Id<td>
    <td class="column-detail">&nbsp;&nbsp;{{orders.invoice}}<td>
  </tr>
  <tr>
    <td class="column-title">Product name<td>
    <td class="column-detail">&nbsp;&nbsp;{{product.name}}<td>
  </tr>
  <tr>
    <td class="column-title">Color<td>
    <td class="column-detail">&nbsp;&nbsp;{{product.color}}<td>
  </td>
  <tr>
    <tr>
      <td class="column-title">Size<td>
      <td class="column-detail">&nbsp;&nbsp;{{product.size}}<td>
    </td>
    <tr>
    <td class="column-title">Quantity<td>
    <td class="column-detail">&nbsp;&nbsp;{{product.quantity}}<td>
  </tr>
  <tr>
    <td class="column-title" >Price<td>
    <td class="column-detail" style="color: royalblue;">&nbsp;&nbsp;₹{{"%0.0f"|format((product.price|float) - product.price|int*product.discount*0.01|float)}}<td>
  </tr>
  <tr>
    <td class="column-title">Payement<td>
    <td class="column-detail" style="color: red;">&nbsp;&nbsp;{{orders.status}}<td>
  </tr>

</table><br>


{% endfor %}
</table> 

{% if orders.status == "Paid" %}
<div class="alert" style="color: blue;">Thank you for payment,Your order will be received in a few days.</div>
{% else %}
<div class="alert" style="color: red;">Please pay and you will get your product.<br>Cash on delivery option is not available. </div>


<br><h3  style="text-align: left;" class="tax1">Tax : ₹{{"%0.2f"|format(tax|float)}}</h3><br>

<br><h3  style="text-align: left;" class="total1">Total : ₹{{grandTotal}}</h3><br>
  
<br><br><form action="{{url_for('payment')}}" method="POST">
  {% set amount = grandTotal.replace('.','') %}
  <input type="hidden"  name="amount" value="{{amount}}">
  <input type="hidden"  name="invoice" value="{{orders.invoice}}">
    <script
      src="https://checkout.stripe.com/checkout.js"
      class="stripe-button"
      data-key="pk_test_51JtBNVSFLOkZfdqMagdwkOU7PCMke7XshQKWjjph1N5Hu0yz6fWJBgAdFlQlN5NF1WJDO1AdherBopRjgNAfsHiQ00eoeNLGt8"
      data-name="Pillai's cart"
      data-description="If you cant stop thinking about it.. Buy it."
                          
      data-amount="{{amount}}"
      data-currency="INR">
    </script>
  <br></form><br>
 
  

  {% endif %}

</div>

<style>
  body {font-family:  
    Helvetica, sans-serif;
    /* font-size:13px; */
    margin-top: 20px;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.container{max-width: 680px; margin:0 auto;margin-top: 40px;}
.logotype{background:#000;color:#fff;width:75px;height:75px;  line-height: 75px; text-align: center; font-size:11px;}
.column-title{background:#eee;text-transform:uppercase;padding:15px 5px 15px 15px;font-size:11px;}
.column-detail{border-top:1px solid #eee;border-bottom:1px solid #eee;width: 200px;}
.column-header{background:#eee;text-transform:uppercase;padding:15px;font-size:11px;border-right:1px solid #eee;}
.row{padding:7px 14px;border-left:1px solid #eee;border-right:1px solid #eee;}
.alert{background: #ffd9e8;padding:20px;margin:20px 0;line-height:22px;color:#333}
.socialmedia{background:black;padding:20px; display:inline-block;border-radius: 20px;margin-left:23px;}
.alert1{
  color: red;
}
td{
  color: black;
  
}
h3{
  color: black;
  font-size: 24px;
  display: inline;
  align-content: right;
  margin-left: 100px;
}
/* 
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	margin: 0;
	height: 100%;
	background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
} */

</style>

{% endblock %}