
{% extends "layout.html" %}
{% block body %}


<main class="container" style="padding: 10px; max-width: 1000px; display: flex;">
{% set fname ='img/'+ product.image_1%}
 
    <div class="left-column">
      <img data-image="red" class="active" src="{{ url_for('static',filename=fname) }}" alt="{{product.name}}">
      
    </div>
    
    <div class="right-column">
      <div class="product-description">
        <h2>{{product.name}}</h2>
        <div style="margin-left: -11%;">
        <!-- {% if 5 < product.discount <= 30 %}
  
          <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
          
          {% endif %}
          {% if 30 < product.discount <=50 %}
          <ul>
  
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
  
          {% endif %}
          {% if 50 < product.discount <= 70 %}
          <ul>
  
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
          {% endif %}
  
          {% if 70 < product.discount <=100 %}
  
          <ul>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
          </ul>
          {% endif %} -->
  
      </div>
        <p>100% Original Products<br>online payment might be available<br>Easy 15 days returns and exchanges<br>Try & Buy might be available</p>
      </div>
      
      <div class="product-configuration">
        {% set colors = product.color.split(',')%}
        <div class="product-color">
          <span style="color: red">Color</span>
           <div class="color-choose">
                {% for color in colors %}
                {% set col =color.split(':')%}
              <input data-image="color" type="radio" id="color" name="color" value="color" >
              <span style="color:sienna;">{{col[0]|capitalize}}</span>
              
              {% endfor%}
            </div>
          </div>
        </div>

        {% set sizes = product.size.split(',')%}
        <div class="cable-config">
          <span style="color: red;">Size</span>


          <div class="cable-choose">
            
          {% for size in sizes %}
          {% set siz =size.split(':')%}
            <button name="colors" id="colors" value="{{siz[0]}}">{{siz[0]|capitalize}}</button>
            {% endfor%}

          </div>
          
            <h3 style="color: red;">Discount - {{product.discount}}%</h3>
          <a href="#">How to configurate your product</a>
        </div>


      <div class="product-price">
        <h1 style="color:black;">₹ {{product.price}}</h1> 
        </div>
        <div>
        <form action="{{ url_for('Addcart') }}" method="post" style="margin-left: 40%; margin-top: -13%;">
         <input type="hidden" name="product_id" value="{{product.id}}">
        <button type="submit" class="cart-btn" >Add cart</button>  
         <input type="hidden" name="quantity" id="" value="1" min="1" max="10" >
         {% set colors = product.color.split(',')%}
         <select name="colors" id="colors" style="visibility: hidden;">
           {% for color in colors %}
           {% set col =color.split(':')%}
           <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
           {% endfor%}
         </select>
         {% set sizes = product.size.split(',')%}
          <select name="sizes" id="sizes" style="visibility: hidden;">
            {% for size in sizes %}
            {% set siz =size.split(':')%}
            <option value="{{siz[0]}}">{{siz[0]|capitalize}}</option>
            {% endfor%}
          </select>

          
       </form>
      </div>

     </div>
  </main>


  <style>

 
.container {
  margin: 0 auto
}
/* Columns */
.left-column {
  width:40%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  margin-block-start: 40px;
}
 
.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
 .product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] {
  display: none;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]#red + label span {
  background-color: #C91524;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#blue + label span {
  background-color: #314780;
}
.color-choose input[type=&amp;quot;radio&amp;quot;]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type=&amp;quot;radio&amp;quot;]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: &amp;quot;?&amp;quot;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;

} 
.product-price {
  display: flex;
  align-items: left;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

h2
{
  color: red;
  margin-left: 20px;
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column {
    width: 100%;
    margin-top: 10px;

  }
  .right-column {
  width: 100%;
  margin-top: 200px;
}
 
  .left-column img {
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 1px;
    width: 350px;
    height: 250px;
    right: 0;
    top: -65px;
    left: initial;
  }
  p{
    margin-left:20px;

    align-content: center;
  }
  h1{
    margin-left:20px;
    align-content: center;
  }
  h3{
    margin-left:10px;
    align-content: center;
  }
  .cable-config{
    margin-left:20px;
    align-content: center;
  }
  .product-color{
    margin-left:20px;
    align-content: center;
  }
  .cart-btn {
    margin-left:20px;
    align-content: center;
  }
  
}
 
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column {
    width: 100%;
    margin-top: 10px;

  }
  .right-column {
  width: 100%;
  margin-top: 200px;
}
 
  .left-column img {
    margin-right: 20px;
    margin-top: 10px;

    margin-left: 1px;
    width: 300px;
    height: 250px;
    right: 0;
    top: -65px;
    left: initial;
  }
  p{
    margin-left:20px;

    align-content: center;
  }
  h1{
    margin-left:20px;
    align-content: center;
  }
  h3{
    margin-left:10px;
    align-content: center;
  }
  .cable-config{
    margin-left:20px;
    align-content: center;
  }
  .product-color{
    margin-left:20px;
    align-content: center;
  }
  .cart-btn {
    margin-left:20px;
    align-content: center;
  }
  
}
@media only screen and (min-width: 200px) and (max-width: 300px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column {
    width: 100%;
    margin-top: 10px;

  }
  .right-column {
  width: 100%;
  margin-top: 200px;
}
 
  .left-column img {
    margin-right: 20px;
    margin-top: 10px;

    margin-left: 1px;
    width: 220px;
    height: 250px;
    right: 0;
    top: -65px;
    left: initial;
  }
  p{
    margin-left:5px;

    align-content: center;
  }
  h1{
    margin-left:5px;
    align-content: center;
  }
  h3{
    margin-left:5px;
    align-content: center;
  }
  .cable-config{
    margin-left:5px;
    align-content: center;
  }
  .product-color{
    margin-left:5px;
    align-content: center;
  }
  .cart-btn {
    margin-left:5px;
    align-content: center;
  }
  
}
 

@media only screen and (min-width: 300px) and (max-width: 350px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column {
    width: 100%;
    margin-top: 10px;

  }
  .right-column {
  width: 100%;
  margin-top: 200px;
}
 
  .left-column img {
    margin-right: 20px;
    margin-top: 10px;

    margin-left: 1px;
    width: 280px;
    height: 250px;
    right: 0;
    top: -65px;
    left: initial;
  }
  p{
    margin-left:20px;

    align-content: center;
  }
  h1{
    margin-left:20px;
    align-content: center;
  }
  h3{
    margin-left:20px;
    align-content: center;
  }
  .cable-config{
    margin: left 2px;
    align-content: center;
  }
  .product-color{
    margin-left:20px;
    align-content: center;
  }
  .cart-btn {
    margin-left:20px;
    align-content: center;
  }
  
}
 

  </style>
  
  <script>
      $(document).ready(function() {
 
 $('.color-choose input').on('click', function() {
     var headphonesColor = $(this).attr('data-image');

     $('.active').removeClass('active');
     $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
     $(this).addClass('active');
 });

});
  </script>
    {% endblock %}