
{% extends "layout.html" %}

{% block body %}


<div class="login">
    <div class="form">
      <!-- <form class="login-form"> -->
        <img id="img1" src="{{ url_for('static',filename='img/lock.jpg') }}" alt="">
       
        {{form.csrf_token}}
        {% from "_formhelpers.html" import render_field %}
        {% include "messages.html" %}
        
        <form method=post>
            
          {{ render_field(form.name , class="form-control",placeholder= "Enter your name here",style="width:100%") }}
          {{ render_field(form.email , class="form-control" ,placeholder= "Enter your email here",style="width:100%") }}
          {{ render_field(form.password , class="form-control" ,placeholder= "Password",style="width:100%") }}
          {{ render_field(form.confirm , class="form-control" ,placeholder= "Confirm Password" ,style="width:100%")}}
          <!-- {{ render_field(form.gender , class="form-control" ,placeholder= "gender") }} -->
          {{ render_field(form.contact , class="form-control" ,placeholder= "Enter your contact here",style="width:100%" )}}
          <!-- {{ render_field(form.address , class="form-control" ,placeholder= "Enter your address here" )}}
          {{ render_field(form.pincode , class="form-control" ,placeholder= "Pincode" )}} -->
        <button>SignUp</button>
        <a href="/Customerlogin" style="color: red;">already have an account?</a></a> <a style="color: red;" href="/Customerlogin">Sign in</a>

      </form>  
    </div>
  <!-- </div> -->

  
  <style>

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.login {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form {
  z-index: 1;
  background: powderblue;
  border-radius: 10px;
  max-width: 160%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.site-footer{
       display: none;
     }

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #182848;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background:pink;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}
#flash{
    color: red;
}
.form span {
  font-size: 75px;
  color:rebeccapurple;
}
#img1{
    border-radius: 50px;
    width: 50%;
    margin-bottom: 50px;
}



@media only screen and (min-width: 400px) and (max-width: 600px) {
    .form {
  width: 330px;
  
}
.login{
  width: 320;
  margin-left: -12%;

}
a{
  font-size: 13px;
}
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
    .form {
  width: 310px;
  
}
.login{
  width: 310px;
  margin-left: 5%;
}
a{
  font-size: 10px;
}
}
@media only screen and (min-width: 200px) and (max-width: 350px) {
    .form {
  width: 260px;
  
}
.login{
  width: 260px;
  margin-left: 9%;
}
a{
  font-size: 9px;
}
}
@media only screen and (min-width: 200px) and (max-width: 300px) {
    .form {
  width: 250px;
  
}
.login{
  width: 250px;
  margin-left: 5%;
}
a{
  font-size: 7px;
}
}
  </style>



{% endblock %}