
{% extends "layout.html" %}
{% block body %}



<head>
	<meta charset="utf-8">
	<meta  name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Pillai's cart</title>
</head>
<body>
</nav>
		<div class="container text-center mt-5 p-5" >

			
					<img src="https://www.kindpng.com/picc/m/174-1749396_empty-cart-your-cart-is-empty-hd-png.png" class="img-fluid" style="height: 300px; margin-top: 10px;position: relative;"><br>
					<br><h1 align="center" class="text-banner-title" style="color:rgb(172, 44, 161)"><b></b> </h1><br>

		
		</div>
</body>
{% endblock %}
