
{% extends "layout.html" %}
{% block body %}



<head>
	<meta charset="utf-8">
	<meta  name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Pillai's cart</title>
</head>
<body>
</nav>

		<div class="container text-center mt-5 p-5" >

	
			
		<img src="https://th.bing.com/th/id/R.5addfb5c5ce246c6badcae18eb958f7a?rik=T2TQu9SNfojOOg&riu=http%3a%2f%2fwww.innovativetherapy.us%2fuploads%2f8%2f2%2f3%2f3%2f82331864%2fpayment-successful_orig.png&ehk=j96saBcqQofQWf17FX1CvJlxB6vygV5L5b5nuraAe%2fM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" class="img-fluid" width="50%" style="margin-left: 90px; margin-bottom: 80px; margin-top: 30px;" >

		
		</div>
</body>
<style>

	@media screen and (max-width: 640px) {
		height: 100px;

	}
</style>
{% endblock %}
